@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  background-color: #f7f7f7;
}


.slick-slide > div {
  margin: 0 10px;
}

.slick-slide{
  margin-top: 2rem;
  width: 80%;
}

.active{
  @apply text-blue-500
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #959595;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 